.sku_warp{
    padding: 10px 10px;
    border: 1px solid #d2d6de;
}
.sku_warp .sku_attr_key_val{
    margin-top: 10px;
}
.sku_warp .sku_attr_val_warp{
    clear: both;
}
.sku_warp .sku_attr_val_warp:after{
    content: ' ';
    display: block;
    clear: both;
}
.sku_warp .sku_attr_val_item{
    display: inline-block;
    float: left;
}

.sku_warp .sku_attr_val_item .sku_attr_val_input{
    margin-left: 10px;
    margin-bottom: 5px;
    width: 100px;
    float: left;
}

.sku_warp .sku_attr_val_item .btn{
    float: left;
    border-radius: 0 !important;
}

.sku_warp .sku_edit_warp .Js_sku_upload{
    display: inline-block;
    height: 40px;
    width: 40px;
    font-size: 32px;
    line-height: 40px;
    border: 1px solid #d2d6de;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    background-size: 100%;
    background-repeat:no-repeat;
}

.sku_warp .sku_edit_warp  .Js_sku_del_pic{
    display: inline-block;
    margin-left: 5px;
    color: #ff0000;
    text-decoration: underline;
    cursor: pointer;
}

.sku-container  .el-card{margin:10px 0}.sku-container  .el-card .el-card__header{line-height:normal;padding:10px 20px}.sku-container  .el-card .el-card__body{padding:10px 20px 20px}.sku-container .sku-check .theme-1{display:flex;flex-wrap:wrap;justify-content:space-between;margin-bottom:10px}.sku-container .sku-check .theme-1 .item{width:32%}.sku-container .sku-check .theme-1 .item:last-child:nth-child(3n-1){margin-right:34%!important}.sku-container .sku-check .theme-1 .item .add-attr{width:100%;margin-top:10px}.sku-container .sku-check .theme-2{border:1px solid #ebeef5;border-bottom:0;margin-bottom:20px}.sku-container .sku-name{text-align:right}.sku-container .batch-set{width:100%;margin-top:5px}.sku-container .sku-list{line-height:normal}.sku-container .sku-list  .el-input__inner{text-align:center}.sku-container .sku-list  .el-table__append-wrapper,.sku-container .sku-list  .el-table__append-wrapper .el-table,.sku-container .sku-list  .el-table__append-wrapper .el-table .el-table__body-wrapper{overflow:initial}.sku-container .sku-list  .el-form-item{margin-bottom:0}.sku-container .sku-list  .el-form-item .el-form-item__content{line-height:normal}.sku-container .sku-list  .el-form-item .el-form-item__content .el-form-item__error{margin-left:0}.sku-container .sku-list .required_title:before{content:"*";color:#f56c6c}